{% load media %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{% block meta_description %}{% endblock %}"/>
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="stylesheet" href="{% media 'css/reset-min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% media 'css/base.css' %}" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="{% media 'js/lib/jquery-1.6.2.min.js' %}"></script>
  <script type="text/javascript" src="{% media 'js/extends.js' %}"></script>
  <script type="text/javascript" src="{% media 'js/base.js' %}"></script>

  {% block extracss %}
  {% endblock %}

  {% block extrastyle %}{% endblock %}
  {% block extrajs %}{% endblock %}
  {% block extrahead %}{% endblock %}

  <title>{% block title %}Set With Me{% endblock %}</title>
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://jdbartlett.com/innershiv/innershiv.js"></script>
  <![endif]-->
</head>

<body class="{% block bodyclass %}{% endblock %}">
{% block body %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4611627-8']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
