{% extends "base.html" %}
{% load i18n %}
{% load media %}

{% block body %}
<div class="wrapper">
    <div class="header">
        <div class="wrapper_width">
            <div class="loginbox">
              {% if request.user.is_authenticated %}
                <div>{{ request.user.username }}</div>
                <div>{{ request.user.first_name }}</div>
                <div>{{ request.user.last_name }}</div>
                <div class="photo"><div><img src="{{ user_profile.user_pic }}"></div></div>
                <form action="{% url core.views.logout %}" method="POST">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
              {% endif %}
            </div>
            <a href="/">
                <img class="logo" id="js_logo" src="{% media 'images/setwithme_logo.png' %}" alt="setwith.me logo">
            </a>
            <ul class="cards" id="js_header_cards">
                <li class="mini card one oval solid red"><i><b></b></i></li>
                <li class="mini card two diamond striped blue"><i><b></b></i></li>
                <li class="mini card three squiggle open green"><i><b></b></i></li>
            </ul>
        </div>
    </div>



    <div class="content">
        <div class="wrapper_width">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <div class="footer">
        <div class="wrapper_width">
            <div class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?app_id=144160478998326&amp;href=http%3A%2F%2Fsetwith.me&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe></div>
            <div class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="elegion_en" data-related="elegion_ru">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
            <a class="elegion" href="http://test.e-legion.com"><img src="{% media 'images/elegion_logo.png' %}" alt="elegion logo"></a>
            <a class="djangodash" href="http://djangodash.com"><img src="{% media 'images/djangodash_logo.png' %}" alt="djangodash logo"></a>
        </div>
    </div>
</div>

{% endblock %}
