/* 0. Common tags */
body {
    font-family: Arial;
    font-size: 1em;
    color: #FFF;
    height: 100%;
}

p {
    line-height: 130%;
    margin: 0.5em 0 0 0;
}
a.pseudo {
    color: #FFF;
    border-bottom: 1px dashed #FFF;
    cursor: pointer;
    text-decoration: none;
}
a.pseudo:hover {
    border: none;
}
/* 1. Layout */
.wrapper_width {
    width: 870px;
    margin: 0 auto;
}
/* 1.1 Header */
.header {
    height: 85px;
    background: #4d545a;
}

    .header .cards {
        overflow: hidden;
        padding: 9px 1em;
    }
        .header .cards li {
            float: left;
            margin: 0 0.3em;
        }
    .header .logo {
        float: left;
        padding: 20px 0;
    }
/* 1.2 Footer */
.footer {
    background: #4d545a;
    height: 170px;
    overflow: hidden;
    padding: 15px 0 0 0;
}

.footer .djangodash {
    float: right;
    margin: 0 1em 0 0;
}

.footer .elegion {
    float: right;
}

.footer .facebook {
    float: left;
    margin: 0 1em 0 0;
}

.footer .twitter {
    float: left;
}
/* 1.3 Content */
.content {
    background: #6f757a;
    min-height: 500px;
    border-top: 1px solid #848a8e;
    border-bottom: 1px solid #848a8e;
}

/* 2. Main page */
.main h1 {
    font-family: 'Lobster', cursive;
    font-size: 1.75em;
    color: #FFF;
    text-shadow: #000 0 -1px 0;
    margin: 1em 0 0 0;
}

.main .info p {
    width: 30em;
    margin: 0.5em 0 0 0;
}

.main .play {
    clear: both;
    display: block;
    width: 15em;
    text-align: center;
    color: #666;
    font-family: 'Lobster', cursive;
    text-shadow: #FFF 1px 1px 0;
    font-size: 1.75em;
    padding: 0.3em 0;
    margin: 3em 0 0;
    background: #FFF;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eee,  #ccc); /* for firefox 3.6+ */
    border-radius: 6px;
    border: 3px solid #585e62;
}

.main .play:hover {
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #ddd); /* for firefox 3.6+ */
}

.main .searching {
    margin-top: 65px;
    text-align: center;
}
    .main .searching .card {
        display: inline-block;
        float: none;
        margin: 30px 5px 60px;
    }
    .main .searching .note {
        color: #cfcfcf;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        text-shadow: #5b6064 0 -1px 0;
    }

/* 3. Cards */

.main .card {
    margin: 0 1em;
    float: left;
}
.card {
    width: 100px;
    height: 150px;
    position: relative;
    border: 7px solid #FFF;
    border-radius: 5px;
    background: #f1f1f1;
}
    .card.two i {
        height: 90px;
        top: 20px;
    }
    .card.two b {
        height: 90px;
    }
    .card.one i {
        height: 60px;
        top: 40px;
    }
    .card.one b {
        height: 60px;
    }
    .card.striped i {
        background-image: url(../images/card_striped_bg.png)
    }
    .card i {
        display: block;
        position: relative;
    }
    .card.red i {
        background-color: #fe7a85;
    }
    .card.green i {
        background-color: #70d88b;
    }
    .card.blue i {
        background-color: #71c4d9;
    }
    .card b {
        display: block;
        background-image: url(../images/card_map.png);
        background-position: 0 0;
        width: 100px;
        height: 150px;
        position: relative;
    }
    .card.open b {
        background-position-y: -150px;
    }
    .card.diamond b {
        background-position-x: -200px;
    }
    .card.squiggle b {
        background-position-x: -100px;
    }

    .card.mini {
        width: 40px;
        height: 60px;
        border-radius: 5px;
        border-width: 4px;
    }
        .card.mini i {
            width: 40px;
            height: 60px;
        }
        .card.mini b {
            background-image: url(../images/card_map_mini.png);
            width: 40px;
            height: 60px;
        }
        .card.mini.two i {
            height: 36px;
            top: 8px;
        }
        .card.mini.two b {
            height: 36px;
        }
        .card.mini.one i {
            height: 24px;
            top: 16px;
        }
        .card.mini.one b {
            height: 24px;
        }
        .card.mini.open b {
            background-position-y: -60px;
        }
        .card.mini.diamond b {
            background-position-x: -80px;
        }
        .card.mini.squiggle b {
            background-position-x: -40px;
        }



