{% extends "site_base.html" %}
{% load i18n %}
{% load media %}

{% block bodyclass %}game{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script>
        $(function() {
            SetWithMe.Game.init('{{ game_id }}');
            $('#js_set_button').click(SetWithMe.Game.markSet.bind(SetWithMe.Game));
        });
        SetWithMe.gameInitialStatus = {{ initial_status|safe }};
    </script>
{% endblock %}

{% block content %}
    <div class="counts cards_left"><span id="js_cards_left">81</span> cards left</div>
    <div class="counts sets_count"><span id="js_sets_count"></span> sets on desk</div>

    <div class="inner_width_wrapper">
    <a href="#" class="set_button big_button" id="js_set_button">
        <span class="label" id="js_set_button_label">Set!</span>
        <span class="timer" id="js_countdown"></span>
    </a>

    <ul id="js_cards" class="card_list"></ul>
    <div id="js_users"></div>

    <ul class="players" id="js_players"></ul>

    <div class="chat_container">
       <h2>Room chat</h2>
      <ul class="chat_messages" id="js_chatmessages"></ul>
      <form action="{% url chat.views.put_message game_id %}" method="POST" class="js_chat_message_form">
        {% csrf_token %}
        <input type="text" class="text" name="message" placeholder="{% trans 'Enter message here...' %}">
        <button type="submit">{% trans '→' %}</button>
      </form>
    </div>

    <div class="winner_plate">
        <h1>Game over. And winner is...</h1>
        <div></div>
        <div id="js_user_place"></div>
        <div class="share_game">
            {% include 'game/include/sharing.html' %}
        </div>
        <a href="{% url lobby %}" class="playagain">Play one more time</a>
    </div>

    <div>
        <a href="{% url leave_game game_id %}">Leave game</a>
    </div>
    </div>

{% endblock %}
