{% extends "site_base.html" %}
{% load i18n %}
{% load media %}

{% block bodyclass %}game{% endblock %}

{% block content %}
    <script>
        $(function() {SetWithMe.Game.init('{{ game_id }}')});
    </script>

    <ul id="js_cards" class="card_list"></ul>
    <div id="js_users"></div>

    <ul class="players" id="js_players"></ul>

    <div class="winner_plate">
    <h1>Game over. And winner is...</h1>
    <div id="js_user_place"></div>
    <a href="/" class="mainpage">Play one more time</a>
    </div>

    <div class="bottom">
    <a href="#" class="set_button big_button">Set!</a>
    <div class="cards_left"><span id="js_cards_left">81</span> cards left</div>
    </div>
{% endblock %}
