{% extends "site_base.html" %}
{% load facebook %}

{% block bodyclass %}main{% endblock %}

{% block extrajs %}{% endblock %}

{% block content %}
<div class="info">
    <h1>Set is visual perception game</h1>
    <p>You should notice three cards "set" with color, form, count and fill all different
    or all the same faster than your <i>opponent</i>.</p>
    <p><a href="#logo" class="pseudo" id="js_rotate_logo">See&nbsp;logo</a> for examples.</p>
    {% if request.user.is_authenticated %}
      <a href="{% url lobby %}" class="play big_button" id="js_play_btn">Play!</a>
    {% else %}
      <form id="js_facebook_login" action="{% url core.views.login %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="provider" value="facebook">
        <button type="submit" class="js_submit">Login via Facebook</button>
      </form>
      <form action="{% url core.views.login %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="provider" value="anon">
        <button type="submit">Login as anon</button>
      </form>
    {% endif %}
</div>
{% endblock %}
