{% extends "site_base.html" %}
{% load facebook get_settings %}

{% block bodyclass %}main{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% if request.user.is_anonymous %}
    {% setting VK_APP_ID as vk_api_key%}
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            SetWithMe.initVkontakteLogin({{ vk_api_key }});
            $('#js_anonymous_login_button').click(function() {
                $('#js_anonymous_login').submit();
            });
            $('#js_play_button').click(function(event) {
                var $loginContainer = $('#js_login_container');
                if ($loginContainer.length) {
                    event.preventDefault();
                    $(this).fadeOut(100, function() {
                        $loginContainer.fadeIn(100);
                    });
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="info">
    <h1>Set is visual perception game</h1>
    <p>You should notice three cards "set" with color, form, count and fill all different
    or all the same faster than your <i>opponent</i>.</p>

    <p><a href="#logo" class="pseudo" id="js_rotate_logo">See&nbsp;logo</a> for examples or <a href="http://www.setgame.com/set/rules_set.htm">full rules</a>.</p>
    <div class="stats">
        <div class="stats_container">
            <span>{{ players }} players online</span>
            <span class="separator"></span>
            <span>{{ games_online }} games online</span>
        </div>
    </div>
    <div id="js_button_container" class="button_container">
      <a href="{% url lobby %}" class="play big_button" id="js_play_button">Play!</a>
    </div>
    {% if not request.user.is_authenticated %}
    <div id="js_login_container" class="login_container">
      <form id="js_facebook_login" action="{% url login provider='facebook' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="provider" value="facebook">
        <button type="submit" class="js_submit facebook_button">Login with Facebook</button>
      </form>
      <form id="js_vk_login" action="{% url login provider='vkontakte' %}" method="POST">
        {% csrf_token %}
        <div class="vk_button">
            <button type="submit" class="js_submit ">Login with Vkontakte</button>
        </div>
      </form>
      <form id="js_anonymous_login" action="{% url login provider='anonymous' %}" method="POST" style="display: none">
        {% csrf_token %}
        <input type="hidden" name="provider" value="anon">
      </form>
      <div class="anonymous_login">
          <span class="or">or</span>
          <a id="js_anonymous_login_button" href="#">stay anonymous</a>
      </div>
    </div>
    {% endif %}
</div>
{% if top_users %}
<div class="top_users_container">
    <span class="header">Top users</span>
    <ul class="top_users">
        {% for user in top_users %}
        <li class="top_user">
            <img class="photo" src="{{ user.get_user_pic }}">
            <div class="info">
                <div class="name">{{ user.user.first_name }} {{ user.user.last_name }}</div>
                <div class="stats">win {{ user.games_win }}, loss {{ user.games_loss }}</div>
            </div>
        </li>
        {% if not forloop.last %}<li class="separator"></li>{% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
