{% extends "site_base.html" %}

{% block bodyclass %}main{% endblock %}
{% block content %}
<h1>Set is visual perception game</h1>
<!--oval, squiggle, or diamond-->
<div class="mini card one red solid oval"><i><b></b></i></div>
<div class="mini card two blue striped diamond"><i><b></b></i></div>
<div class="mini card three green open squiggle"><i><b></b></i></div>


<div class="info">
    <p>You should notice three cards "set" with color, form, count and fill all different
    or all the same faster than your opponent.
    <a class="pseudo" id="js_rotate_logo">See logo</a> for examples.</p>
</div>
{% endblock %}
