{% extends "site_base.html" %}

{% block bodyclass %}main lobby{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(SetWithMe.searchGame);
    </script>
{% endblock %}

{% block content %}
<div class="lobby_main">
<h1 class="lobby">Searching for opponents...</h1>
<div id="countdown" style="display: none">
  <div><span class="timer"></span> seconds left</div>
</div>

<div class="searching">
    <div class="tape" id="js_searching">
        <div class="card one red solid oval"><i><b></b></i></div>
        <div class="card two blue striped diamond"><i><b></b></i></div>
        <div class="card three green open squiggle"><i><b></b></i></div>
    </div>
</div>
<ul class="opponents" id="js_opponents"></ul>
<div class="note">{{ message }}</div>
</div>




{% endblock %}
